.hidden {
  display: none;
}

.btn {
  display: inline-block;
  padding: 10px 14px;
  background: #0b74ff;
  color: white;
  cursor: pointer;
  border-radius: 6px;
}

.hidden:checked + .btn {
  display: none;
}